script(type="application/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="application/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="application/javascript", src="/vendor/toastr/toastr.js")
script(type="application/javascript", src="/vendor/angular/angular.js")
script(type="application/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="application/javascript", src="/vendor/angular-route/angular-route.js")
script(type="application/javascript", src="/app/app.js")
script(type="application/javascript", src="/app/main/mainCtrl.js")
script(type="application/javascript", src="/app/account/loginCtrl.js")
script(type="application/javascript", src="/app/account/ijIdentity.js")
script(type="application/javascript", src="/app/common/ijNotifier.js")
script(type="application/javascript", src="/app/account/ijAuth.js")
script(type="application/javascript", src="/app/account/ijUser.js")
script(type="application/javascript", src="/app/account/ijSignupCtrl.js")
script(type="application/javascript", src="/app/account/ijProfileCtrl.js")
script(type="application/javascript", src="/app/admin/userListCtrl.js")
