.panel.panel-primary
   .panel-heading.text-center Featured Videos
   .panel-body 
      .row(ng-repeat="video in videos | filter:{featured:true}")
         .col-md-12 
             a(href="/videos/{{video._id}}") {{video.title}}