.container
   .jumbotron
      h1 InstantJitsu
         p Welcome to InstantJitsu! Learn and share the best jiu jitsu moves with your friends!

   .row
      .col-md-6
         div(ng-include="'/partials/main/featured-moves'")
      .col-md-6
         div(ng-include="'/partials/main/new-moves'")